<% if session[:error] %>
  <p><%= session.delete(:error) %></p>
<% end %>

<h2>Files</h2>
<ul>
  <% @filenames.each do |filename| %>
    <li><a href="/<%= filename %>"><%= filename %></a></li>
  <% end %>
</ul>