<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/cms.css">
  </head>
  <body>
    <div>
      <% if session[:error] %>
        <p class="message"><%= session.delete(:error) %></p>
      <% end %>
      <% if session[:success] %>
        <p class="message"><%= session.delete(:success) %></p>
      <% end %>
    </div>
    <main>
      <%== yield %>
    </main>

  </body>
</html>